<section>
  <app-drawer trigger="button" content="#content">
    <button>Content Here</button>
    <div id="content">
      Content that is hidden when js is enabled.
    </div>
  </app-drawer>
</section>
